* {
  line-height: 1.5;
}

.social {
  position: absolute;
  width: 100vw;
  z-index: 10;
  top: 3.2vh;
  text-align: center;
}

.footer-text {
  margin: 0 auto;
  color: #423764;
  font-size: 27px;
  font-weight: bold;
  margin-top: 57vh;
}

.footer-hr {
  color: gray;
  margin: 20px auto;
}

.footer-img {
  width: 50vw;
  margin: 0 auto;
  padding-top: 3vh;
}

.footer-contact-info {
  font-family: "Montserrat", sans-serif;
  color: #ff5f5f !important;
  font-weight: 600;
  font-size: 1.5rem;
}

.footer-social-media {
  padding: 0 18vw;
  display: flex;
  justify-content: space-around;
}

.social-media img {
  padding-top: 1vh;
  padding-right: 10px;
  height: 40px;
}

.codeOfConduct a,
.codeOfConduct {
  color: #423764;
  font-size: 20px;
}

.codeOfConduct a:hover {
  color: #ff5f5f;
  text-decoration: none;
}

/* ipad and ipad air */
@media only screen and (max-device-width: 990px) and (min-device-height: 1024px) {

  .footer-text {
    margin-top: 18vh;
  }

  .footer-img {
    padding-top: 0;
  }

  .footer-social-media {
    padding: 0 18vw;
    display: flex;
    justify-content: center;
  }

  .social-media img {
    padding-top: .5vh;
    margin: 0 30px;
    height: 2.5vh;
  }

  .footer-text {
    font-size: 1.2rem;
  }

  .footer-hr {
    color: gray;
    margin: 0 auto;
  }

  .codeOfConduct,
  .codeOfConduct a {
    font-size: 0.9rem;
  }
}

/* mobile */
@media only screen and (max-device-width: 990px) and (max-device-height: 1792px) {
  .social {
    top: 2vw;
  }

  .footer-text {
    margin-top: 13vh;
  }

  .footer-img {
    padding-top: 0;
  }

  .footer-social-media {
    padding: 0 18vw;
    display: flex;
    justify-content: center;
  }

  .social-media img {
    padding-top: .5vh;
    margin: 0 30px;
    height: 2vh;
  }

  .footer-text {
    font-size: 1.2rem;
  }

  .footer-hr {
    color: gray;
    margin: 0 auto;
  }

  .codeOfConduct,
  .codeOfConduct a {
    font-size: 0.9rem;
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1024px) and (orientation: portrait) {
  .social {
    top: 2vw;
  }

  .footer-img {
    padding-top: 0;
  }

  .footer-text {
    margin: 0 auto;
    margin-top: 27vw;
  }

  .footer-hr {
    color: gray;
    margin: 0 auto;
  }
}

/* ipad air */
@media only screen and (max-device-width: 820px) and (orientation: portrait) {
  .social {
    top: 2vw;
  }

  .footer-img {
    padding-top: 0;
  }

  .footer-text {
    margin: 0 auto;
    margin-top: 27vw;
  }

  .footer-hr {
    color: gray;
    margin: 0 auto;
  }
}

/* ipad landscape */
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .social {
    top: 2vw;
  }

  .footer-img {
    padding-top: 0;
  }

  .footer-text {
    margin: 0 auto;
    margin-top: 27vw;
  }

  .footer-hr {
    color: gray;
    margin: 0 auto;
  }
}

@media only screen and (min-device-width: 1330px) {
  .footer-text {
    margin: 0 auto;
    color: #423764;
    font-size: 27px;
    font-weight: bold;
    margin-top: 30vw;
  }

  .footer-hr {
    color: gray;
    margin: 10px auto;
  }
}

@media only screen and (min-device-width: 1140px) {
  .footer-text {
    margin: 0 auto;
    margin-top: 27vw;
  }

  .footer-hr {
    color: gray;
    margin: auto;
  }
}